.container {
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
}
.navbar_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  min-height: 100vh;
  background-color: var(--color-primary-a60);
  padding: 50px;
  padding-top: 30%;
  z-index: 1;
}
.nav_links {
  display: flex;
  flex-direction: column;
  margin-right: 20vw;
}
.nav_links a {
  margin-bottom: 20px;
  display: flex;
  align-items: left;
  text-transform: capitalize;
  transition: color 0.3s;
  font-weight: 600;
}
.nav_links a:hover {
  color: var(--color-primary-a70);
}
.icon {
  display: block;
  position: absolute;
  right: 10%;
  top: 3%;
  z-index: 1111;
  font-size: 30px;
  padding: 1px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-primary-a10);
  border: 0;
}

@media (min-width: 750px) {
  .navbar_container {
    flex-direction: row;
    position: unset;
    min-height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100vw;
    display: flex;
    opacity: 1 !important;
    visibility: visible !important;
    transform: unset !important;
    padding: 50px;
    padding-top: 10px;
  }
  .nav_links {
    flex-direction: row;
  }
  .nav_links a {
    margin-bottom: 0;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
  }
  .nav_links a:nth-child(1) {
    font-size: clamp(35px, 5vw, 60px);
  }
  .nav_links a:hover {
    color: var(--color-primary-a10);
  }
  .icon {
    display: none;
  }
}
