.colors {
  --color-primary-a0: #ffffff;
  --color-primary-a10: #fff5cc;
  --color-primary-a20: #ffeb99;
  --color-primary-a30: #ffe162;
  --color-primary-a50: #ffd803;
  --color-primary-a60: #b99d17;
  --color-primary-a70: #786619;
  --color-primary-a80: #3d3413;
  --color-primary-a90: #000000;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
.main h1 {
  text-align: center;
  font-size: clamp(50x, 7.5vw, 70px);
}

/* loading page */
.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading p {
  margin-top: 20px;
  color: var(--color-primary-a10);
}
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid var(--color-primary-a10);
  border-radius: 50%;
  border-color: #dbdcef var(--color-primary-a10);
  animation: spinner-e04l1k 2s infinite linear;
}

/* error page */
.error {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: var(--color-primary-a70) var(--color-primary-a10);
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
