.values {
  --color-primary-a0: #ffffff;
  --color-primary-a10: #fff5cc;
  --color-primary-a20: #ffeb99;
  --color-primary-a30: #ffe162;
  --color-primary-a50: #ffd803;
  --color-primary-a60: #b99d17;
  --color-primary-a70: #786619;
  --color-primary-a80: #3d3413;
  --color-primary-a90: #000000;
}
.container {
  min-height: 80vh;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  padding-top: 0px;
}
.container h2 {
  margin-top: 0px;
  text-align: center;
}
.syntax {
  width: min(100%, 600px);
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 50px;
}
.syntax div {
  width: 100%;
  padding: 0px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 5px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid var(--color-primary-a10);
}

.syntax div:nth-child(1) {
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 80px;
}

.syntax div:nth-child(2) {
  background-color: var(--color-primary-a60);
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  border: unset;
}
.syntax p {
  padding: 10px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.syntax svg {
  cursor: pointer;
  color: var(--color-primary-a10);
  font-size: 18px;
}
