.container {
  min-height: 80vh;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  margin: 0 auto;
  text-align: center;
}

/* featured blog posts */

.featured {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  gap: 1rem;
}
.first_featured_post {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #fff5cc;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  /* border: 3px solid blue; */
  height: 650px;
  text-align: left;
}
.left_featured_posts_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: left;

  /* border: 3px solid red; */
}
/* post styled from derectories */

.posts {
  display: grid;
  grid-template-columns: repeat(1, 80%);
  place-content: center;
  gap: 3rem;
}
@media (min-width: 960px) {
  .featured {
    gap: 3rem;
    flex-direction: row;
    width: 1000px;
  }
  .first_featured_post {
    width: 60%;
    margin: 0 auto;
  }
  .left_featured_posts_container {
    width: 50%;
    margin: 0 auto;
  }
  .posts {
    display: grid;
    grid-template-columns: repeat(2, 400px);
  }
}
